mcode/bypass-mo-triangle/results/bypass-mo-results.mat
mcode/bypass-mo-triangle/results/bypass-mo-tempstate.mat
mcode/bypass-mo-triangle/results/conf-out.mat
mcode/bypass-mo-triangle/results/conf.mat

mcode/bypass-so-double-normal/data/constants.mat
mcode/bypass-so-double-normal/data/obs.mat
mcode/bypass-so-double-normal/results/bypass-so-results.mat
mcode/bypass-so-double-normal/results/bypass-so-tempstate.mat
mcode/bypass-so-double-normal/results/conf-out.mat
mcode/bypass-so-double-normal/results/conf.mat

mcode/bypass-so-shifted-rastrigin/data/constants.mat
mcode/bypass-so-shifted-rastrigin/results/bypass-so-results.mat
mcode/bypass-so-shifted-rastrigin/results/bypass-so-tempstate.mat
mcode/bypass-so-shifted-rastrigin/results/conf-out.mat
mcode/bypass-so-shifted-rastrigin/results/conf.mat

mcode/mmsoda-toolbox/helper-apps.txt
